profile_id=default
# key.<index>=<command>|<mode>
# label.<index>=TEXT or TEXT\nTEXT
# mode: once | hold

label.0=PAUSE
key.0=sim/operation/pause_toggle|once
label.1=FLAPS\nDOWN
key.1=sim/flight_controls/flaps_down|once
label.2=FLAPS\nUP
key.2=sim/flight_controls/flaps_up|once
label.3=BRAKES
key.3=sim/flight_controls/brakes_toggle_max|once
label.4=REV\nHOLD
key.4=sim/engines/thrust_reverse_hold|hold
