# key.<index>=<command>|<mode>
# mode: once | hold

key.0=sim/operation/pause_toggle|once
key.1=sim/flight_controls/flaps_down|once
key.2=sim/flight_controls/flaps_up|once
key.3=sim/flight_controls/brakes_toggle_max|once
key.4=sim/engines/thrust_reverse_hold|hold

